<div class="card">
  <div class="card-header d-flex justify-content-center">
    Editar participação
  </div>
  <div class="card-body">
    <%= render 'form', participacao: @participacao %>
  </div>
</div>
