<div class="card">
  <div class="card-header d-flex justify-content-center">
    Participações
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <th>Bolão</th>
        <th colspan="2">Ações</th>
      </thead>
      <tbody>
        <% @participacoes.each do |participacao| %>
          <tr>
            <td><%= participacao.bolao.nome %></td>
            <td><%= link_to 'Visualizar', participacao_path(participacao) %></td>
            <td><%= link_to 'Editar', edit_participacao_path(participacao) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= link_to 'Novo', new_participacao_path, class: 'btn btn-success m-1' %>
    </div>
  </div>
</div>
